.container {
    max-width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

ul li {
    padding: 6px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0056b3;
}

.btn-back {
    background-color: #007bff;
    color: white;
    width: 150px;
}

.btn-back:hover {
    background-color: #0056b3;
}
