body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
}

form {
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

label {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 8px auto;
    font-weight: bold
}

input, select {
    width: 100%;
    max-width: 480px;
    padding: 10px;
    margin: 10px auto 10px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    max-width: 480px;
    padding: 10px;
    margin: 10px auto 10px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
    resize: vertical;
}

textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.error {
    display: block;
    margin-top: 4px;
    margin-bottom: 20px;
    color: #d9534f;
    font-size: 0.85rem;
    font-weight: 500;
}

.btn {
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-submit {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.btn-cancel {
    background-color: #ccc;
    color: #333;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.btn-cancel:hover {
    background-color: #aaa;
}

select {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    background-color: #fff;
    color: #333;
    margin-bottom: 10px;
    cursor: pointer;
}