spring:
  application:
    name: backend

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none

  config:
    import: optional:file:.env[.properties]

server:
  servlet:
    context-path: /api

jwt:
  accessTokenExpirationTimeMs: 900_000      # 15 min
  refreshTokenExpirationTimeMs: 2_592_000_000 # 30 days
